
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">the <i class="fas fa-tv"></i> store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">Meet the Team!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Reach out!</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
    <form class="search" method="get" action="/search">
      <input maxlength="2048" id="searchBox" size="30" type="text"
      placeholder="Search here!" title="Search" value="" lang="en" name="query" style="height: 35px; " />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Look up!</i></button>
    </form>
    <li class="nav-item">
      <a class="nav-link" href="#">My <i class="fas fa-shopping-cart"></i>!</a>
    </li>
    <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Hey <i class="fas fa-user-tie"></i> !
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#"> Sign In/Up!</a>
         <a class="dropdown-item" href="#">Another action</a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">Logout!</a>
       </div>
    </ul>
  </div>
</nav>
