<!DOCTYPE html>
<html>

	<head>

		<title>18!</title>

			<link rel='stylesheet' href='/stylesheets/aboutus.css'/>


	</head>

<body>

<div class="bg">
  <div class="caption">
  <h1>The 18!</h1>
  </div>

  <div class="about">
  <h4>Hi! Welcome to Group 18! Please choose from below to know more about our team!</h4>
  </div>

  <div class="row">
  <div class="column">
    <div class="card">
      <img src="IMG\PK.jfif" alt="Poonam Krishna" style="width:100%">
      <div class="container">
        <h2><u>Poonam Krishna</u></h2>
        <p class="title">Team Member</p>
        <p>MS BAIS Muma College of Business USF.</p>
        <p><a href="mailto:poonamk@mail.usf.edu"style='color: navy';>poonamk@mail.usf.edu</a></p>
        <h3<button class="button"><a href="/PK.html">Know more!</a></button></h3>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="IMG\SD.jfif" alt="Shreyas Dalvi" style="width:100%">
      <div class="container">
        <h2><u>Shreyas Dalvi</u></h2>
        <p class="title">Team Member</p>
        <p>MS BAIS Muma College of Business USF.</p>
        <p><a href="mailto:shreyasdalvi@mail.usf.edu"style='color: navy';>shreyasdalvi@mail.usf.edu</a></p>
        <h3<button class="button"><a href='./views/layouts/SD.html'>Know more!</a></button></h3>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="IMG\YS.jfif" alt="Yashjeet Singh" style="width:100%">
      <div class="container">
        <h2><u>Yashjeet Singh</u></h2>
        <p class="title">Team Member</p>
        <p>MS BAIS Muma College of Business USF.</p>
        <p><a href="mailto:yashjeet@mail.usf.edu"style='color: navy';>yashjeet@mail.usf.edu</a></p>
        <p><button class="button"><a href="YS.html">Know more!</a></button></p>
      </div>
    </div>
  </div>
</div>

  </div>

 <footer><p style='color: navy'>
Designed by:<b> Poonam Krishna, Shreyas Dalvi and Yashjeet Singh for "Assignment 3 -Look and Feel" under ISM6225.901F18 Distributed Information Systems.</br>
© 2018 Team 18</h3></br><a style='color: azure'href="steps.html">Click here to know about the steps taken to create the website!</a></p>
</p></footer>

</body>
</html>
