<style>

    body {margin:0;
        }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 42px;
        background-color: black;
        color: white;
        text-align: center;
    }

</style>

    <br><br>
  <br><font size="5" color="Black"><b>Contact Us</b></font>
  <font size="4"><b><form id="contact_form" action="mailto:mfsbstarboys@gmail.com?subject=visitor's reply&message=message" method="POST" enctype="multipart/form-data">
	<div class="row" align="left" style="margin-left:0px;>
		<label for="name"><font color="black">Your name:</label><br></font>
      <textarea id="name" class="input" name="name" rows="1" cols="50" style="border-color: #333333"></textarea><br />
	</div>
	<div class="row" align="left" style="margin-left:0px;>
		<label for="email"><font color="black">Your email:</label><br></font>
      <textarea id="email" class="input" name="email" rows="1" cols="50" style="border-color: #333333"></textarea><br />
			</div>
	<div class="row" align="left" style="margin-left:0px;>
		<label for="message"><font color="black">Your message:</label><br ></font>
		<textarea id="message" class="input" name="message" rows="7" cols="50" style="border-color: #333333"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>
</font></b>
<form method="post" action=""></form>
</body>
</html>
<div class="footer" style="padding-top: 10px;">
    More e-Books &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.gutenberg.org/"> Project Gutenberg | </a>
    <a href="https://www.goodreads.com/"> GoodReads | </a>
    <a href="http://www.openingthebook.com/whichbook/"> WhichBook | </a>
    <a href="http://landers.bookbub.com/covers/?source="> BookBub </a>
    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;See the Project&nbsp;&nbsp;&nbsp;&nbsp;</b>
    <a href="https://github.com/sjsingh91/BigData"><img src="https://www.rstudio.com/wp-content/uploads/2014/03/GitHub-Mark-Light-32px.png" style="bottom: 150px"></a>


</div>
