<html>
<head>
    <style>

        body {
            margin:0;
            background-image: url("https://cdn.hipwallpaper.com/i/1/9/KLmBD4.jpg");
            opacity:1;
            background-repeat: no-repeat;
            background-attachment: fixed;
          }
        html{
            position: relative;
            min-width: 1024px;
            min-height: 768px;
            height: 100%;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 42px;
            background-color: black;
            color: whitesmoke;
            text-align: center;
        }

        </style>
        </head>

        <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <header>
        <h1 style=align="center"><b>Welcome back! Sign in here!</b></h1>
      </header>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
            <div class="form-group"><br><br>
              <label for="email"><h2>E-mail address:</h2</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="name@example.com">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password"><h2>Password:</h2></label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <p>Don't have an account? <a href="/user/signup">Sign up instead!</a></p>
    </div>
</div>

<div class="footer" style="font-size:180%;" style="padding-top: 10px;">
  Built by Yashjeet Singh, Poonam Krishna and Shreyas Dalvi!
  </div>
